.services{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:80px;
    margin: 80px 170px;
}
.services-title{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.services-title h1{
 padding: 0px 30px;
 font-size: 80px;
 font-weight: 600;
}
.services-title img{
    width: 100px;
}
.services-format {
    display: flex;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
    border: 2px solid white;
    cursor: pointer;
    transition: 0.4s;
    height: 100%;              /* equal height */
}

.service-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin-bottom: 80px;
    align-items: stretch; /* makes all cards equal height */
}

.services-format p {
    color: white;
    font-size: 24px;
    line-height: 40px;
    flex-grow: 1;              /* fills extra space */
}

.services-format h2{
    font-size: 38px;
    font-weight: 800;
    background: linear-gradient(270deg, #DA7C25 50%, #B923E1 100.06%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.services-format p{
    color: white;
    font-size: 24px;
    line-height: 40px;
    max-width: 300px;
}
.services-readmore {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: auto;          /* KEY for alignment */
}


.services-format:hover{
     border: 2px solid #ff00ff;

     transform: scale(1.05);
     transition: 0.4s;
}
@media(max-width:768px) {
    .services{
        align-items: start;
        gap:50px;
        margin: 20px 70px;
    }
    .services-title{
       margin-left: 30%;
    }
    .services-title h1{
        padding: 0;
        font-size: 30px;
    }
    .services-title img{
        width: 60px;
        margin-right: -3px;
    }
    .services-format{
        gap:20px;
        padding: 5px;
    }
    .services-format h2{
        font-size: 18px;
    }
    .services-format h3{
        font-size: 15px;
    }
    .services-format p{
        font-size: 10px;
        line-height: 20px;
        max-width: 300px;
    }
    .services-readmore img{
        width: 20px;
    }
    .service-container{
        grid-template-columns: 1fr 1fr;
        gap:30px;
    }
}