.hero{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap:35px;
    margin-top: 100px;
}
.profile-image{
    margin-top: 50px;
    width: 190px;
    border-radius: 50%;
}
.hero h1{
    text-align: center;
    width: 70%;
    font-size: 58px;
    font-weight: 600;
}
.hero h1 span{
    background: linear-gradient(270deg, #DA7C25 10%, #B923E1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.hero p{
    width: 50%;
    text-align: center;
    font-size: 24px;
    line-height: 40px;
}
.hero-action{
    display: flex;
    align-items: center;
    gap: 25px;
    font-weight: 500;
    margin-bottom: 50px;
}
.hero-connect{
     padding: 10px 20px;
    border-radius: 50px;
    background: linear-gradient(270deg, #DA7C25 10%, #B923E1 100%);
    cursor: pointer;
}
.hero-connect:hover{
    border: 2px solid white;
}
.hero-resume{
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border-radius: 50px;
    border: 2px solid white;
    cursor: pointer;
}
.hero-resume:hover{
    border: 2px solid purple;
}

@media(max-width:768px){
    .hero {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 35px;
        margin-top: 50px;
    }
    .hero img{
        margin-top: 74px;
        width: 162px;
    }
    .hero h1{
        margin-top: 30px;
        width:90%;
        font-size:22px;
    }
    .hero p{
        width: 63%;
        font-size: 15px;
        line-height: 29px;
        margin: 3px 0px;
    }
    .hero-action{
        gap:16px;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 50px;
    }
    .hero-connect{
        padding: 7px 17px;
        border-radius: 40px;
        font-size: 15px;
    }
    .hero-resume{
        text-decoration: none;
        color: white;
        padding: 7px 17px;
        border-radius: 40px;
        font-size: 15px;
    }
}