.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:80px;
    margin: 80px 170px;
}
.about-title{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about-title h1{
    padding: 0px 30px;
    font-size: 80px;
    font-weight: 600;
}
.about-title img{
    width: 100px;
}
.about-sections{
    display: flex;
    gap:80px;
}
.about-profile-image{
    width: 190px;
}
.about-right{
    display: flex;
    flex-direction: column;
    gap:80px;
}
.about-para{
    display: flex;
    flex-direction: column;
    gap:20px;
    font-size: 24px;
    font-weight: 500;
}
.about-skills{
    display: flex;
    flex-direction: column;
    gap:20px
}
.about-skill{
    display: flex;
    gap:50px;
    align-items: center;
    transition: 0.3s;
}
.about-skill p{
    min-width: 150px;
    font-size: 24px;
    font-weight: 500;
}
.about-skill hr{
    outline: none;
    border: none;
    height: 8px;
    border-radius: 50px;
    background: linear-gradient(264deg, #DA7C25 -5.09%, #B923E1 106.28%);
}
 .html-css{
        width: 60%;
    }
    .react-js{
        width: 40%;
    }
    .javascript{
         width: 50%;
    }
    .csharp{
         width: 70%;
    }
.about-achievements{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 80px;
}
.about-achievement{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
    transition: 0.5s;
}
.about-achievement h1{
    font-size: 60px;
    font-weight: 700;
     background: linear-gradient(264deg, #DA7C25 -5.09%, #B923E1 106.28%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.about-achievement p{
    font-size: 22px;
    font-weight: 500;
}
.about-skill:hover{
    transform: scale(1.05);
    transition: 0.3s;
}
.about-achievement:hover{
    transform: scale(1.12);
    transition: 0.5s;
}

@media(max-width:768px) {
    .about{
        gap:55px;
        margin:20px 70px;
        align-items: start;
    }
     .about-title {
       margin-left: 20%;
    }
    .about-title h1{
        font-size: 30px;
        padding: 0;
    }
    .about-title img{
        width: 60px;
        right: -3px;
    }
    .about-sections{
       flex-direction: column;
    }
    .about-left{
        display: none;
    }
     .about-right{
        display: flex;
        gap:45px;
    }
    .about-para{
        font-size: 15px;
        line-height: 30px;
    }
    .about-skill{
        gap:0px;
        align-items: center;
    }
    .about-skill p{
       font-size: 15px; 
    }
    .about-skill hr{
        height: 6px;
    }
    .html-css{
        width: 100%;
    }
    .react-js{
        width: 25%;
    }
    .javascript{
         width: 30%;
    }
    .csharp{
         width: 90%;
    }
    .about-achievements{
        justify-content: space-between;
    }
    .about-achievement{
        gap:10px
    }
    .about-achievement h1{
       font-size: 30px;
       font-weight: 700; 
    }
    .about-achievement p{
        text-align: center;
        font-size: 13px;
    }
}