/* General styles */
.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
}

.contact-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-title h1 {
    padding: 0 30px;
    font-size: 80px;
    font-weight: 600;
    text-align: center;
}

.contact-title img {
    width: 100px;
    margin-top: 10px;
}

.contact-section {
    display: flex;
    gap: 150px;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}

/* Form container */
.contact-right {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    max-width: 700px;
}

.contact-right label {
    color: #d8d8d8;
    font-size: 22px;
    font-weight: 500;
}

.contact-right input,
.contact-right textarea {
    width: 100%;
    box-sizing: border-box; /* Important for padding */
    border: none;
    border-radius: 4px;
    background: #32323c;
    color: #A0A0A0;
    font-family: Outfit, sans-serif;
    padding: 15px 20px;
    font-size: 20px;
}

.contact-right textarea {
    min-height: 120px;
    resize: vertical;
}

.contact-submit {
    border: none;
    color: white;
    border-radius: 50px;
    background: linear-gradient(264deg, #DA7C25 -5.09%, #B923E1 102.06%);
    font-size: 20px;
    padding: 10px 20px;
    margin-bottom: 50px;
    cursor: pointer;
    transition: 0.3s;
    font-family: Outfit, sans-serif;
    width: 152px;
}

.contact-submit:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

.error-border {
    border: 1px solid red !important;
}

/* Responsive styles for mobile */
@media (max-width: 768px) {
    .contact {
        gap: 40px;
        margin: 20px 30px;
        align-items: center;
    }
    .contact-title{
        margin-left: 0%;
    }
    .contact-title h1 {
        font-size: 28px;
        padding: 0;
    }

    .contact-title img {
        width: 50px;
        margin-top: 5px;
    }

    .contact-section {
        flex-direction: column;
        gap: 20px;
        width: 100%;
        padding: 0 10px;
        align-items: center;
    }

    .contact-right {
        gap: 15px;
        width: 100%;
        max-width: 100%;
    }

    .contact-right label {
        font-size: 14px;
    }

    .contact-right input,
    .contact-right textarea {
        font-size: 14px;
        padding: 10px 15px;
    }

    .contact-submit {
        width: 152px;
        font-size: 14px;
        padding: 8px 15px;
    }
}
