.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:80px;
    margin:80px 170px;
}
.contact-title{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-title h1{
    padding:0px 30px;
    font-size: 80px;
    font-weight: 600;
}
.contact-title img{
       width: 100px;
}
.contact-section{
    display: flex;
    gap:150px;
}
/* .contact-left{
    display: flex;
    flex-direction: column;
    gap:30x;
}
.contact-left h1{
    font-size: 80px;
    font-weight: 700;
    background: linear-gradient(270deg, #DA7C25 50%, #B923E1 100.06%);
    background-clip: text;
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent
}
.contact-left p{
    max-width: 550px;
    color: white;
    font-size:20px;
    line-height: 35px;
} */
.contact-details{
    display: flex;
    flex-direction: column;
    gap:30px;
    color: #d8d8d8;
    font-size: 22px;
}
.contact-detail{
    display: flex;
    align-items: center;
    gap:20px;
}
.contact-right{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap:30px;
}
.contact-right label{
    color: #d8d8d8;
    font-size: 22px;
    font-weight: 500;
}
.contact-right input{
    border: none;
    width: 700px;
    height: 78px;
    padding-left: 20px;
    border-radius: 4px;
    background: #32323c;
    color:#A0A0A0;
    font-family: outfit;
    font-size: 20px;
}
.contact-right textarea{
    width: 650px;
    border: none;
    padding:25px;
    border-radius: 4px;
    background: #32323c;
    color: #A0A0A0;
    font-family: Outfit;
    font-size: 20px;
}
.contact-submit{
    border: none;
    color: white;
    border-radius: 50px;
     background: linear-gradient(264deg, #DA7C25 -5.09%, #B923E1 102.06%);
     font-size: 20px;
     padding: 10px 20px;
     margin-bottom: 50px;
     cursor: pointer;
     transition: 0.3s;
     font-family: outfit;
}
.contact-submit:hover{
    transform: scale(1.1);
    transition: 0.3s;
}
.error-border {
  border: 1px solid red !important;
}

@media(max-width:768px){
    .contact{
        gap:50px;
        margin: 20px 70px;
        align-items: start;
    }
     .contact-title{
       margin-left: 30%;
    }
    .contact-title h1{
        padding: 0;
        font-size: 30px;
        font-weight: 600;
    }
    .contact-title img{
        width: 60px;
        margin-right: -20px;
    }
    .contact-section{
        flex-direction: column;
        width: 280px;
    }
    .contact-left h1{
        font-size: 54px;
    }
    .contact-left p{
        font-size: 18px;
    }
    .contact-detail{
        gap:20px;
    }
    .contact-detail img{
        width: 25px;
    }
    .contact-right{
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 20px;
    }
    .contact-right label{
        font-size: 15px;
    }
    .contact-right input{
        height: 35px;
        width: 100%;
        font-size: 15px;
    }
    .contact-right textarea{
        width: 95%;
        font-size: 15px;
    }
    .contact-submit{
        font-size: 15px;
    }
}