.footer{
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.footer-top{
    display: flex;
    gap:250px;
    padding: 20px;
}
.footer-top-left{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
img{
    width:20px;
}
.footer-top-left-name{
    display: flex;
    gap:10px;
    align-items: center;
}
.footer-top-left-location{
    display: flex;
    gap:20px;
}
.footer-top-middle{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer-top-middle-email{
    display: flex;
    gap:20px;
}
.footer-top-middle-phone{
    display: flex;
    gap:20px;
}
.footer-top-right{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer-top-right-linkedin{
     display: flex;
    gap:20px;
}
.footer-top-right-github{
     display: flex;
    gap:20px;
}
.footer-bottom{
    text-align: center;
}
.footer-bottom p{
    font-size: 12px;
}
@media (max-width: 768px) {

    .footer {
        padding: 10px 0px;
        margin: 20px 22px;
        font-size: 10px;
    }

    .footer-top {
        flex-direction: column;
        gap: 10px;
        align-items: center;
        padding: 10px;
    }

    .footer-top-left {
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: center;
    }
    .footer-top-left-location
    {
        gap: 10px;
    }
    .footer-top-left-location h5{
        margin-top: 6px;
    }
    /* Mail + Phone in same row */
    .footer-top-middle {
        flex-direction: row;
        gap: 30px;
        justify-content: center;
        align-items: center;
    }

    /* LinkedIn + GitHub in same row */
    .footer-top-right {
        flex-direction: row;
        gap: 30px;
        justify-content: center;
        align-items: center;
    }

    .footer-top-middle-email,
    .footer-top-middle-phone,
    .footer-top-right-linkedin,
    .footer-top-right-github {
        align-items: center;
        gap: 8px;
    }

    .footer-bottom p {
        font-size: 8px;
        text-align: center;
    }
}